<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="header-superior">
                <img class="logo" src="/img/logo-mercado-liebre.svg">
            <div class="buscador">
                    <div>
                    <form action="/" method="get">
                        <label for="buscador"></label>
                        <input type="text" name="searchbar" id="buscador" placeholder="Buscar productos, marcas...">
                    </form>
                </div>
                <div class="icono-buscador"><i class="fa fa-search"></i></div>
            </div>
                    <p class="tarjetas"><i class="fas fa-hand-holding-usd">Comprar en cuotas y sin tarjeta de credito</i></p>
        </div>
        <nav>
            <ul class="first-nav">
                <li>
                    <a href = "#">Oferta</a>
                </li>
                <li>
                    <a href = "#">Tienda Oficial</a>
                </li>
                <li>
                    <a href = "#">Vender</a>
                </li>

                <li>
                    <a href = "#">Ayuda</a>
                </li>
                
                <li>
                    <a href = "/register"><i class="far fa-id-card">Crea tu cuenta</i></a>
                </li>
                <li>
                    <a href = "/login"><i class="fas fa-sign-in-alt">Ingresá</i></a>
                </li>
                <li>
                    <a href = "#"><i class="fas fa-shopping-basket">Mis compras</i></a>
                </li>

            </ul>
            
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
   <main class="form-content">
    <form action="/" method="get">
        <div> 
            <label for="nombreUser">Tu Usuario</label>
            <input type="text" name="tuUsuario" id="nombreUser" placeholder="
            miUsuario123">
        </div>
        <div>
            <label for="clave">Tu clave</label>
            <input type="password" name="tuClave" id="clave" placeholder="tuClave123">
        </div>
        <button class="boton-envio" type="submit">Enviar</button>
    </form>
   </main>
   <footer>
    <div class="footer-box">
        <div class="foo1">
            <div class="credit-card"><i class="fas fa-credit-card"></i></div>
        <section class="informacion">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    </div>
    <div class="foo2"><div class="gift"><i class="fas fa-gift"></i></div>
        <section class="informacion">
        <h4>Envíos gratis desde 2.500</h4> 
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficioEnvío gratis desde $ 2.500 de Mercado Puntos.</p>
        </section> 
    </div>
    <div class="foo3">
            <div class="user"><i class="fas fa-user-shield"></i></div>
        <section class="informacion">
            <h4>Seguridad, de principio a fin</h4>
            <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porqe siempre estás protegid@.</p>
        </section> 
    </div> 
      </div>
        <section>
            <h4>Copyright © 1999-2020 Mercado Liebre S.R.L</h4>
        </section> 
</footer>
</body>
</html>